lnkea.ru {
    handle /auth/* {
        reverse_proxy auth-service:3000
    }
    
    handle /api/* {
        reverse_proxy backend-service:3001
    }
    
    handle /n8n* {
        uri strip_prefix /n8n
        reverse_proxy n8n:5678
    }

    handle {
        reverse_proxy frontend:80
    }
}
